@using Hotels.Models;
@model SearchCriteriaModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="gtco-header" class="gtco-cover">
        <div class="form-wrap">
            <div class="tab">
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Search Hotels</h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.DestinationName)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.DestinationName, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g San Francisco California" } })
                                        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DestinationName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.MinTripStartDate)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MinTripStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MinTripStartDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.MaxTripStartDate)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MaxTripStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MaxTripStartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.MinStarRating)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MinStarRating, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max = "5", @placeholder = "0 to 5" } })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MinStarRating, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.MaxStarRating)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MaxStarRating, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max = "5", @placeholder = "0 to 5" } })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MaxStarRating, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.MinGuestRating)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.MinGuestRating, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max = "5", @placeholder = "0 to 5" } })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MinGuestRating, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.LengthOfStay)
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.LengthOfStay, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @placeholder = "your stay in" } })
                                        <span class="input-group-addon"><i class="glyphicon">Days</i></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LengthOfStay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

}
