@using Hotels.Models;
@model SearchCriteriaModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.DestinationName)
                @Html.EditorFor(model => model.DestinationName, new { htmlAttributes = new { @class = "form-control" , @placeholder ="Destination" } })
                @Html.ValidationMessageFor(model => model.DestinationName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.DestinationCity)
                @Html.EditorFor(model => model.DestinationCity, new { htmlAttributes = new { @class = "form-control" , @placeholder = "e.g Miami" } })
                @Html.ValidationMessageFor(model => model.DestinationCity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MinTripStartDate)
                @Html.EditorFor(model => model.MinTripStartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinTripStartDate, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MaxTripStartDate)
                @Html.EditorFor(model => model.MaxTripStartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxTripStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MinStarRating)
                @Html.EditorFor(model => model.MinStarRating, new { htmlAttributes = new { @class = "form-control" , @type = "number" , @min = "0" } })
                @Html.ValidationMessageFor(model => model.MinStarRating, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MaxStarRating)
                @Html.EditorFor(model => model.MaxStarRating, new { htmlAttributes = new { @class = "form-control" , @type = "number" , @min = "0" } })
                @Html.ValidationMessageFor(model => model.MaxStarRating, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MinGuestRating)
                @Html.EditorFor(model => model.MinGuestRating, new { htmlAttributes = new { @class = "form-control" , @type = "number", @min = "0" } })
                @Html.ValidationMessageFor(model => model.MinGuestRating, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LengthOfStay)
                @Html.EditorFor(model => model.LengthOfStay, new { htmlAttributes = new { @class = "form-control" , @type = "number", @min = "0" } })
                @Html.ValidationMessageFor(model => model.LengthOfStay, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" style="width: 350px; color:white; background-color:cornflowerblue" />
        </div>
    </div>
}

@section Scripts {

}
