@model IEnumerable<Hotels.Models.HotelModel>

@if (Model != null)
{
    if (!Model.Any())
    {
        <p>No Records Found.</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <article class="article-item">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#info_@item.HotelInfo.HotelId" data-toggle="collapse">
                            <img src="@item.HotelInfo.HotelImageUrl" class="img-thumbnail" alt="Blog Post Thumbnail">
                        </a>
                        <br />
                        <div class="star-rating">
                            @{
                                var rating = double.Parse(item.HotelInfo.HotelStarRating);
                            }

                            @for (int i = 0; i < rating; i++)
                            {
                                <span class="fa fa-star checked"></span>
                            }

                            @if (rating <= 4)
                            {
                                @for (int j = 0; j < (5 - Math.Ceiling(rating)); j++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        </div>
                        <div class="more-info-link">
                            <a href="#info_@item.HotelInfo.HotelId" data-toggle="collapse"><i class="glyphicon glyphicon-info-sign"></i><u>More details</u></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h2 style="    font-size: 18px;">
                            <a href="#info_@item.HotelInfo.HotelId" data-toggle="collapse">"@item.HotelInfo.HotelName</a>
                        </h2>
                        <div class="fff"></div>
                        <p style="color:gray ">
                            @item.HotelInfo.HotelLongDestination
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div style="color:cornflowerblue;font-size:12px">
                            @item.HotelInfo.HotelGuestReviewRating/5

                            @if (item.HotelInfo.HotelGuestReviewRating < 4.0 && item.HotelInfo.HotelGuestReviewRating > 3.4)
                            {
                            <span style="font-size:14px; color: orange;">Good!</span>
                            }
                            else if (item.HotelInfo.HotelGuestReviewRating >= 4.0 && item.HotelInfo.HotelGuestReviewRating < 4.4)
                            {
                            <span style="font-size:14px; color: orange;">Very Good!</span>
                            }

                            else if (item.HotelInfo.HotelGuestReviewRating >= 4.4)
                            {
                            <span style="font-size:14px; color: orange;">Excellent!</span>
                            }

                            <br />
                            (@item.HotelInfo.HotelReviewTotal reviews)
                        </div>
                        <div>
                            <p>
                                <b>
                                    <label style="font-size:16px;  color:black;">
                                        <strike style="color:Gray;"> $@item.HotelPricingInfo.OriginalPricePerNight</strike>
                                        &nbsp;&nbsp;   $@item.HotelPricingInfo.AveragePriceValue
                                    </label>
                                </b>
                                <br />
                                <label style="font-size:11px;  color:black;">
                                    nightly price
                                </label>
                            </p>
                        </div>
                    </div>
                    <div id="info_@item.HotelInfo.HotelId" class="collapse col-md-12">
                        <div class="col-md-12">
                            <ul class="list-info info-text">
                                <li class="col-md-3"> <strong>Full Address:</strong></li>
                                <li class="col-md-9">@item.Destination.LongName</li>
                                <li class="col-md-3"> <strong>Country:</strong></li>
                                <li class="col-md-9">@item.Destination.Country</li>
                                <li class="col-md-3"> <strong>City:</strong></li>
                                <li class="col-md-9"> @item.Destination.City </li>
                                <li class="col-md-3"> <strong>Province:</strong></li>
                                <li class="col-md-9">@item.Destination.Province</li>
                                <li class="col-md-3"> <strong>Region ID:</strong></li>
                                <li class="col-md-9">@item.Destination.RegionId</li>
                                <li class="col-md-12 hotel-url"> <strong>For more information about this hotel</strong> <a href="@Html.Raw(System.Net.WebUtility.UrlDecode(item.HotelUrls.HotelInfositeUrl))" target="_blank">Click Here</a> </li>
                            </ul>                          
                        </div>
                    </div>
                </div>
            </article>
        }                                
     }
  }
